In [1]:
text = 'ice cream'
text[1]

'c'

In [2]:
text[3] = 'F' # Strings are immutable

In [3]:
text[0:3] # first index is included and second index is excluded

'ice'

In [4]:
text[4:] # goes till end

'cream'

In [5]:
text[:5] # starts from beginning

'ice c'

In [6]:
address = '''29 haynes Avenue
St Catharines
Ontario, L2R 3Z5'''
print(address), address

29 haynes Avenue
St Catharines
Ontario, L2R 3Z5

(None, '29 haynes Avenue\nSt Catharines\nOntario, L2R 3Z5')

In [7]:
s ="Hello "
n = 0.07
s+str(n)

'Hello 0.07'

In [8]:
# Lists
items = ['b','p','v','f']
items[2]

'v'

In [9]:
items[-1], items[-2] # -1 means last element

('f', 'v')

In [10]:
items.append('c')
items

['b', 'p', 'v', 'f', 'c']

In [11]:
items.insert(1, 'd')
items

['b', 'd', 'p', 'v', 'f', 'c']

In [12]:
food =['a','b']
bathroom = ['c', 'd']
food+bathroom # caoncatenation

['a', 'b', 'c', 'd']

In [13]:
len(items)

6

In [14]:
'b' in items

True

In [21]:
for i in range(1,6):
    if(i%2==0):
        continue
    print(i*i)

1
9
25

In [29]:
#functions
""" Sum function which takes two arguments
And returns the final value
""" # documentation strings
def sum(a,b=1): # if b argument is not passed then its default value is given
    return a+b
sum(5)

6

In [26]:
sum(5,9)

14

In [30]:
# Dictionaries (Associate arrays, Hash Tables & Maps) and Tuples
d={
    "John" : "123456",
    "Rob": "435678",
    "Jill": "435453"
  }
d["John"]

'123456'

In [32]:
d["Sam"] = '783425'
d # Order doesn't matter

{'John': '123456', 'Rob': '435678', 'Jill': '435453', 'Sam': '783425'}

In [34]:
#Iterate each item
for key in d:
    print("key: ", key, "Value: ", d[key])

key:  John Value:  123456
key:  Rob Value:  435678
key:  Jill Value:  435453
key:  Sam Value:  783425

In [35]:
for k,v in d.items():
    print("key: ", k, "Value: ", v)

key:  John Value:  123456
key:  Rob Value:  435678
key:  Jill Value:  435453
key:  Sam Value:  783425

In [37]:
"John" in d

True

In [38]:
d.clear() # Wipe out all entries
d

{}

In [41]:
# Tuples - List of values are grouped together
point = (5,9)
point[0], point[1] # in tuple all the values has different meaning like X,Y - heterogeneous

(5, 9)