In [1]:
text = 'ice cream'
text[1]

'c'

In [2]:
#text[3] = 'F' # Strings are immutable

In [3]:
text[0:3] # first index is included and second index is excluded

'ice'

In [4]:
text[4:] # goes till end

'cream'

In [5]:
text[:5] # starts from beginning

'ice c'

In [6]:
address = '''29 haynes Avenue
St Catharines
Ontario, L2R 3Z5'''
print(address), address

29 haynes Avenue
St Catharines
Ontario, L2R 3Z5

(None, '29 haynes Avenue\nSt Catharines\nOntario, L2R 3Z5')

In [7]:
s ="Hello "
n = 0.07
s+str(n)

'Hello 0.07'

In [8]:
# Lists
items = ['b','p','v','f']
items[2]

'v'

In [9]:
items[-1], items[-2] # -1 means last element

('f', 'v')

In [10]:
items.append('c')
items

['b', 'p', 'v', 'f', 'c']

In [11]:
items.insert(1, 'd')
items

['b', 'd', 'p', 'v', 'f', 'c']

In [12]:
food =['a','b']
bathroom = ['c', 'd']
food+bathroom # caoncatenation

['a', 'b', 'c', 'd']

In [13]:
len(items)

6

In [14]:
'b' in items

True

In [15]:
for i in range(1,6):
    if(i%2==0):
        continue
    print(i*i)

1
9
25

In [16]:
#functions
""" Sum function which takes two arguments
And returns the final value
""" # documentation strings
def sum(a,b=1): # if b argument is not passed then its default value is given
    return a+b
sum(5)

6

In [17]:
sum(5,9)

14

In [18]:
# Dictionaries (Associate arrays, Hash Tables & Maps) and Tuples
d={
    "John" : "123456",
    "Rob": "435678",
    "Jill": "435453"
  }
d["John"]

'123456'

In [19]:
d["Sam"] = '783425'
d # Order doesn't matter

{'John': '123456', 'Rob': '435678', 'Jill': '435453', 'Sam': '783425'}

In [20]:
#Iterate each item
for key in d:
    print("key: ", key, "Value: ", d[key])

key:  John Value:  123456
key:  Rob Value:  435678
key:  Jill Value:  435453
key:  Sam Value:  783425

In [21]:
for k,v in d.items():
    print("key: ", k, "Value: ", v)

key:  John Value:  123456
key:  Rob Value:  435678
key:  Jill Value:  435453
key:  Sam Value:  783425

In [22]:
"John" in d

True

In [23]:
d.clear() # Wipe out all entries
d

{}

In [24]:
# Tuples - List of values are grouped together
point = (5,9)
point[0], point[1] # in tuple all the values has different meaning like X,Y - heterogeneous

(5, 9)

In [25]:
#point[0] = 6 # Tuples are immutable

In [26]:
# Modules
import math
math.sqrt(16), math.pow(2, 5), 2**5

(4.0, 32.0, 32)

In [27]:
# dir(math) gives me the information about math module

In [28]:
math.pi

3.141592653589793

In [29]:
import calendar
cal = calendar.month(2024,8)
print(cal)

    August 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [30]:
calendar.isleap(2024)

True

In [31]:
import sys
#sys.path.append("Path of the code or py files")

In [32]:
book = {}
book['bob'] = {
    'name':'bob',
    'address':'1 brown street ON',
    'phone':'9090909090'
}
book['tom'] = {
    'name':'tom',
    'address':'1 green street ON',
    'phone':'8989898989'
}
import json
s = json.dumps(book) # dumping the dictionary object by converting into strings
s

'{"bob": {"name": "bob", "address": "1 brown street ON", "phone": "9090909090"}, "tom": {"name": "tom", "address": "1 green street ON", "phone": "8989898989"}}'

In [33]:
with open('C://Mappy//book.txt', 'w') as f:
    f.write(s)

In [34]:
json.loads(s) # this is a python dictionary that is coverted from a string

{'bob': {'name': 'bob', 'address': '1 brown street ON', 'phone': '9090909090'},
 'tom': {'name': 'tom', 'address': '1 green street ON', 'phone': '8989898989'}}

In [35]:
type(book), type(s)

(dict, str)

In [36]:
book['bob']['address']

'1 brown street ON'

In [45]:
f=open('C:\\Mappy\\book.txt', 'a') # w - overwrite the file a- append the content
f.write('\nPython is used in AM/AL')
f.close()

In [47]:
f=open('C:\\Mappy\\book.txt', 'r')
print(f.read())

{"bob": {"name": "bob", "address": "1 brown street ON", "phone": "9090909090"}, "tom": {"name": "tom", "address": "1 green street ON", "phone": "8989898989"}}Python is used in AM/AL
Python is used in AM/AL
Python is used in AM/AL

In [54]:
f=open('C:\\Mappy\\book.txt', 'r') # r+ for both Write and read and w+ both for read write and create file
                                   #if doesn't exist and overwrite if exists
f_out=open('C:\\Mappy\\out.txt', 'w')
for line in f:
    tokens = line.split(' ')
    f_out.write(" wordcount : "+ str(len(tokens))+' '+ line)
    print(len(tokens))
f.close()
f_out.close()
#With statement we don't have to close the file explicitly and can be checked with f.closed flag

24
5
5

In [56]:
#if __name__="__main__":   default value of __name__ is __main__ and acts as a entry point for a python program

In [57]:
# if executing same file then value remains __main__ and if we try 
# to import the file and call the imported function from the another file
# then the value of __main__ will be the module name from where that function is imported

In [64]:
x = input("Enter No : ")
y = input("Enter No : ")
try: 
    z = int(x)/int(y)
except Exception as e:
    print("Exception occured :", e)
    z=None
print("division is : ", z) # we can specition catch the exception like TypeError as e

Enter No : 2
Enter No : 0
Exception occured : division by zero
division is :  None