In [3]:
import pandas as pd
y = pd.Period('2016') # period object A-DEC means annual and ending in december
y

Period('2016', 'A-DEC')

In [6]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [7]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [8]:
y.is_leap_year

True

In [12]:
m = pd.Period('2017-12', freq='M') # monthly
m

Period('2017-12', 'M')

In [13]:
m.start_time

Timestamp('2017-12-01 00:00:00')

In [14]:
m.end_time

Timestamp('2017-12-31 23:59:59.999999999')

In [15]:
m+1 # next month

Period('2018-01', 'M')

In [16]:
d = pd.Period('2016-02-28', freq='D') # daily time period
d

Period('2016-02-28', 'D')

In [17]:
d.start_time

Timestamp('2016-02-28 00:00:00')

In [18]:
d.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [19]:
d+1

Period('2016-02-29', 'D')

In [24]:
h = pd.Period('2017-08-15 23:00:00',freq='H') # hourly time period
h.start_time, h.end_time

(Timestamp('2017-08-15 23:00:00'), Timestamp('2017-08-15 23:59:59.999999999'))

In [21]:
h+1

Period('2017-08-16 00:00', 'H')

In [22]:
h+pd.offsets.Hour(1) # same thing as h+1

Period('2017-08-16 00:00', 'H')

In [25]:
q1= pd.Period('2017Q1', freq='Q-JAN') # quarterly starting from jan 
q1

Period('2017Q1', 'Q-JAN')

In [26]:
q1.start_time

Timestamp('2016-02-01 00:00:00')

In [27]:
q1.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [28]:
q1.asfreq('M',how='start') # covert to monthly freq from start

Period('2016-02', 'M')

In [29]:
q1.asfreq('M',how='end')

Period('2016-04', 'M')

In [30]:
w = pd.Period('2017-07-05',freq='W') # weekly
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [31]:
w-1

Period('2017-06-26/2017-07-02', 'W-SUN')

In [32]:
w2 = pd.Period('2017-08-15',freq='W')
w2

Period('2017-08-14/2017-08-20', 'W-SUN')

In [33]:
w2-w

In [34]:
# period index
r = pd.period_range('2011', '2017', freq='q')
r

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]')

In [35]:
r[0].start_time

Timestamp('2011-01-01 00:00:00')

In [36]:
r[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

In [37]:
# Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017
r = pd.period_range('2011', '2017', freq='q-jan')
r

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [38]:
r[0].start_time

Timestamp('2010-11-01 00:00:00')

In [39]:
r[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [44]:
idx= pd.period_range(start='2016-01', periods=10, freq='Q-JAN')
idx

PeriodIndex(['2016Q4', '2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1',
             '2018Q2', '2018Q3', '2018Q4', '2019Q1'],
            dtype='period[Q-JAN]')

In [45]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2016Q4    1.407766
2017Q1   -2.206455
2017Q2   -0.891000
2017Q3    1.186373
2017Q4   -0.371084
2018Q1    0.792730
2018Q2   -0.856709
2018Q3    1.600948
2018Q4    0.176520
2019Q1   -1.054032
Freq: Q-JAN, dtype: float64

In [47]:
ps.index # period index

PeriodIndex(['2016Q4', '2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1',
             '2018Q2', '2018Q3', '2018Q4', '2019Q1'],
            dtype='period[Q-JAN]')

In [48]:
ps['2016']  # partial indexing

2016Q4    1.407766
2017Q1   -2.206455
2017Q2   -0.891000
2017Q3    1.186373
2017Q4   -0.371084
Freq: Q-JAN, dtype: float64

In [49]:
ps['2016':'2017']

2016Q4    1.407766
2017Q1   -2.206455
2017Q2   -0.891000
2017Q3    1.186373
2017Q4   -0.371084
2018Q1    0.792730
2018Q2   -0.856709
2018Q3    1.600948
2018Q4    0.176520
Freq: Q-JAN, dtype: float64

In [52]:
# Converting between representations
pst = ps.to_timestamp() # index is changed to date time index from period index
pst

2015-11-01    1.407766
2016-02-01   -2.206455
2016-05-01   -0.891000
2016-08-01    1.186373
2016-11-01   -0.371084
2017-02-01    0.792730
2017-05-01   -0.856709
2017-08-01    1.600948
2017-11-01    0.176520
2018-02-01   -1.054032
Freq: QS-NOV, dtype: float64

In [63]:
pst.index

DatetimeIndex(['2015-11-01', '2016-02-01', '2016-05-01', '2016-08-01',
               '2016-11-01', '2017-02-01', '2017-05-01', '2017-08-01',
               '2017-11-01', '2018-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [54]:
ps = pst.to_period()  # index is changed back to period index
ps

2015Q4    1.407766
2016Q1   -2.206455
2016Q2   -0.891000
2016Q3    1.186373
2016Q4   -0.371084
2017Q1    0.792730
2017Q2   -0.856709
2017Q3    1.600948
2017Q4    0.176520
2018Q1   -1.054032
Freq: Q-DEC, dtype: float64

In [55]:
ps.index # back to period index

PeriodIndex(['2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1',
             '2017Q2', '2017Q3', '2017Q4', '2018Q1'],
            dtype='period[Q-DEC]')

In [71]:
import pandas as pd
df = pd.read_csv("wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [72]:
df.set_index("Line Item",inplace=True)
df = df.T # transpose
df.index # here  type of index is object

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [78]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [77]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [75]:
df.index[0].start_time

Timestamp('2016-02-01 00:00:00')

In [61]:
df["Start Date"]=df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit Start Date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [62]:
df["End Date"]=df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit Start Date                      End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999